@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.4rem;
    color: #37392e;
    background: #fbefee;
	margin: 0;
	padding: 1rem;
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.main-container {
  text-align: center;
}

header {
  text-align: center;
}

.list-content {
  text-align: left;
  width: 1278px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(77, 29, 20);
}

h2 {
  color: rgb(84, 8, 20);
}

h3 {
  color: rgb(53, 40, 98);
}

ul {
	list-style-position: inside;
	width: 1280px;
	max-width: 100%;
	background: white;
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
	padding: 0;
	margin: 0;
	border-radius: 0.1rem;
}

li {
	padding: 0 0 0 1rem;
}

li:not(:last-child) {
	border-bottom: 1px solid lightblue;
}

li:first-child {
	margin-top: 1rem;
}

li:last-child {
	margin-bottom: 1rem;
}


.list-content {
    display: flex;
}